<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판</title>
</head>

<body>

  <h1>/board/edit/<%=num%></h1>

  <form action="/board/edit" method="post" autocomplete="off">
    <input type="hidden" name="num" value="<%=num%>">
    <fieldset>
      <legend>새글쓰기</legend>

      <ul>
        <li>
          <label for="title">글제목</label>
          <input type="text" name="title" id="title" autofocus value="<%=title%>">
        </li>

        <li>
          <label for="content">글내용</label>
          <textarea name="content" id="content"><%=content%></textarea>
        </li>

        <li>
          <label for="name">작성자</label>
          <input type="text" name="name" id="name" value="<%=name%>">
        </li>
      </ul>
    </fieldset>
    <button>확인</button>
    <button type="button" onclick="history.back()">취소</button>
  </form>

</body>

</html>